/* //////////////// TYPOGRAPHY ///////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 15px;
  font-weight: 400;
  font-family: var(--FontFamily);
  min-width: 400px;
  min-height: 100vh;
  width: 100%;
  background-image: var(--bodyBg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--primaryWhite);
}

ul {
  list-style-type: none;
}

input,
button {
  font-family: inherit;
  font-weight: 500;
}

button {
  color: var(--primaryWhite);
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-image: var(--headerBtnBg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--primaryBlack);
}

::-webkit-scrollbar-thumb {
  background-image: var(--scrollbar);
  border-radius: 3rem;
}

/* ///////////////// HEADER ////////////////// */

.header {
  height: 100vh;
  width: inherit;
  background-image: var(--headerBg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 3rem;
}

/* ////////////////// NAVBAR /////////////////// */

.navbar {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.navbar__logo {
  margin-right: auto;
  cursor: pointer;
}

.navbar__bars {
  text-align: right;
  cursor: pointer;
  display: none;
}

.el__bar {
  transition: all 0.4s ease-in-out;
  width: 20px;
  height: 3px;
  border-radius: 3rem;
  background-color: var(--primaryWhite);
}

.el__bar:nth-child(2) {
  margin: 4px 0;
  width: 15px;
  margin-left: auto;
}

.navbar__bars[data-menu="true"] .el__bar:first-child {
  transform-origin: right;
  transform: rotate(320deg);
}

.navbar__bars[data-menu="true"] .el__bar:last-child {
  transform-origin: right;
  transform: rotate(-320deg);
}

.navbar__bars[data-menu="true"] .el__bar:nth-child(2) {
  opacity: 0;
}

.navbar__links {
  display: flex;
}

.navbar__links--lies {
  margin-right: 1rem;
}

.el__link {
  font-size: 1.15rem;
  padding: 0.5rem 0.75rem;
  border-radius: 3rem;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.el__link:hover,
.active {
  background-color: var(--primaryWhite);
  color: var(--primaryBlack);
}

.navbar__links--lies:last-child {
  margin-right: 0;
}

/* ////////////////// HEADER CONTENT  ///////////////// */

.header__content {
  margin-top: 7rem;
  padding: 3rem 1rem;
  text-align: center;
}

.header__content--heading h2 {
  font-size: 5rem;
  color: var(--primaryWhite);
}

.header__content--para {
  margin: 2rem 0 4rem;
}

.header__content--para p {
  font-size: 1.25rem;
  color: var(--primaryWhite);
}

.btn {
  border-radius: 3rem;
  text-transform: uppercase;
}

.header__btn {
  padding: 1rem 2.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  background-image: var(--headerBtnBg);
  transition: letter-spacing 0.4s ease-in-out;
}

.header__btn:hover {
  letter-spacing: 5px;
}

.el-find-btn {
  margin-right: 1rem;
}

.el-order-btn {
  margin-left: 1rem;
}

/* //////////////// RECIPES SECTION ///////////////// */

.section {
  padding: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

.recipe__section {
  background-image: var(--tasteNewBg);
}

.section__heading {
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 3rem;
}

.section__heading h3 {
  font-size: 3rem;
  color: var(--primaryWhite);
  margin-bottom: 1rem;
  position: relative;
}

.section__heading h3::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  width: 30%;
  height: 3px;
  background-color: var(--primaryWhite);
  transform: translate(-50%, 0);
}

.section__heading p {
  font-size: 1.15rem;
  color: var(--primaryWhite);
}

.container {
  margin-bottom: 2rem;
  padding: 1rem 6rem;
  overflow-x: hidden;
  text-align: center;
}

.container__card {
  padding: 4rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.11) 0 20px 30px 0;
  backdrop-filter: blur(4px);
  background-color: rgba(125, 43, 145, 0.041);
  border-radius: 1rem;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.card {
  border-radius: 1rem;
  object-fit: contain;
  position: relative;
  overflow: hidden;
  display: none;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card__img img {
  width: 100%;
  height: 450px;
  border-radius: 1rem;
  min-width: 380px;
}

.card__details {
  position: absolute;
  bottom: -26%;
  left: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(3px);
  transition: bottom 0.4s ease-in-out;
  text-align: left;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card__details--title {
  margin-bottom: 2rem;
  transition: all 0.4s ease-in-out;
}

.card__details--title h4 {
  font-size: 2rem;
  color: var(--primaryWhite);
}

.card__details--shortdesc {
  margin: 1rem 0;
}

.card__details--shortdesc p {
  font-size: 1rem;
  color: var(--primaryWhite);
}

.card__details--viewbtn {
  margin-top: 2rem;
}

.card__details--viewbtn a {
  padding: 0.65rem 1rem;
  background-image: var(--headerBtnBg);
  border-radius: 3rem;
  text-transform: uppercase;
}

.card:hover .card__details {
  bottom: 0;
}

.card:hover .card__details--title {
  margin-bottom: 0;
}

.prev__btn,
.next__btn {
  top: 50%;
  position: absolute;
  width: 40px;
  height: 70px;
  color: #d1d1d1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 0.2rem;
  margin-top: -1.5rem;
  user-select: none;
}

.prev__btn {
  left: 2%;
}

.next__btn {
  right: 2%;
}

/* /////////////// RESOURCES /////////////////// */

.resourse__section {
  background-image: var(--resourceBG);
}

.resources {
  padding: 2rem;
}

.resources__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__container--card {
  padding: 1.5rem 1rem;
  width: 800px;
  max-width: 100%;
  margin: 1rem 0;
  border-radius: 0.3rem;
  background-color: rgba(246, 197, 255, 0.11);
  backdrop-filter: blur(2px);
}

.details {
  display: flex;
}

.details__name {
  margin-right: auto;
}

.details__name .el__name {
  font-size: 1.15rem;
  color: var(--primaryWhite);
  font-weight: 500;
  letter-spacing: 2px;
}

.details__viewbtn .el__viewbtn {
  padding: 0.55rem 1rem;
  border-radius: 3rem;
  background-image: var(--headerBtnBg);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.resources__container--card:first-child {
  margin-top: 0;
}

/* //////////// FOOTER ////////////// */

.footer__section {
  background-image: var(--footerBg);
  position: relative;
}

.footer__content {
  display: flex;
  gap: 2rem 5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer__content--brand,
.footer__content--links,
.footer__content--company {
  width: 280px;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.473);
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.11) 0 20px 30px 0;
}

.footer__content--brand {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.082);
  backdrop-filter: blur(2px);
}

.footer__content--brand img {
  width: 200px;
  aspect-ratio: 1;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.151) 0 10px 20px 0;
}

.footer__content--brand h4 {
  font-size: 2rem;
  color: var(--primaryWhite);
}

.footer__content--links,
.footer__content--company {
  padding: 3rem 2rem;
}

.footer__content--company h4,
.footer__content--links h4 {
  font-size: 1.25rem;
  color: var(--primaryWhite);
  font-weight: 500;
}

.footer__content--company ul,
.footer__content--links ul {
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.footer__content--company li,
.footer__content--links li {
  margin: 1rem 0;
}

.footer__content--company span,
.footer__content--links span {
  color: var(--primaryWhite);
}

.footer__link {
  color: var(--primaryWhite);
  font-size: 1.05rem;
  margin-right: 0.25rem;
  /* transition: all 0.4s ease-in-out; */
}

.footer__link--arrow {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.footer__link:hover .footer__link--arrow {
  opacity: 1;
}

.footer__copytext {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.65rem 0;
  text-align: center;
  width: 100%;
}

.footer__copytext span {
  font-size: 0.9rem;
  color: var(--primaryWhite);
  font-weight: 400;
}

.footer__copytext span a {
  color: aqua;
}

/* ////////////// PAGE RECIPE //////////////// */
/* ////////////// SEARCH MEAL //////////////// */

.mealSearch {
  margin: 10rem 0 4rem;
  padding: 2rem 5rem;
}

.mealSearch__container {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.el-inputbox {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: var(--primaryBlack);
}

.searchbtn {
  padding: 1.1rem 1.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 1.25rem;
}

/* ///////////// FOOD SECTION ///////////// */

.food__section {
  background-image: var(--foodSection);
}

.foods {
  padding: 1rem 2rem;
}

.foods__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.foods__grid--card {
  border-radius: 1rem;
  background-color: #00000021;
  backdrop-filter: blur(2px);
}

.foods__grid--card-img {
  object-fit: contain;
  position: relative;
}

.foods__grid--card-img img {
  width: 100%;
  height: 230px;
  min-height: 200px;
  border-radius: 1rem;
  border-bottom-right-radius: 0.15rem;
  border-top-left-radius: 0.15rem;
}

.foods__grid--card-details {
  margin: 1.5rem 0;
  padding-left: 0.5rem;
}

.foods__grid--card-details__name {
  margin-bottom: 1rem;
}

.foods__grid--card-details__name h4 {
  font-size: 1.15rem;
  letter-spacing: 2px;
  color: var(--primaryWhite);
}

.foods__grid--card-details__btn {
  margin-bottom: 0.5rem;
}

.foods__grid--card-details__btn button {
  padding: 0.45rem 1rem;
  border-radius: 3rem;
  font-size: 1rem;
}

.el__fev {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.45rem;
  background-color: rgba(0, 0, 0, 0.171);
  border-top-right-radius: 1rem;
  backdrop-filter: blur(3px);
  color: var(--primaryWhite);
  font-size: 1.5rem;
  cursor: pointer;
}

.el__fev[data-save="true"] {
  color: rgb(236, 12, 12);
}

/* //////////// MEDIA QUERY //////////// */
@media (max-width: 900px) {
  .header {
    padding: 1rem 2rem;
  }

  .navbar__bars {
    display: block;
  }

  .navbar__links {
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0;
    text-align: center;
    padding: 1rem 0;
    backdrop-filter: blur(10px);
    background-color: var(--mobNavBG);
    transition: all 0.4s ease-in-out;
  }

  .navbar__links--lies {
    margin: 0.75rem 0;
  }

  .header__content--heading h2 {
    font-size: 4rem;
  }

  .section {
    padding: 3rem 2rem;
  }

  .container {
    padding: 1rem;
  }

  .container__card {
    width: 100%;
  }
  .card__details {
    bottom: 0;
  }

  .card__details--title {
    margin-bottom: 0;
  }

  .footer__content {
    justify-content: start;
  }

  .foods__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
  }
}

@media (max-width: 700px) {
  .header__content--heading h2 {
    font-size: 3rem;
  }

  .section__heading h3 {
    font-size: 2rem;
  }

  .container__card {
    width: 100%;
    padding: 1rem;
  }

  .card__details {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.479),
      rgba(0, 0, 0, 0.151)
    );
    backdrop-filter: none;
  }

  .card__img img {
    height: 300px;
  }

  .prev__btn,
  .next__btn {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(5px);
  }

  .footer__content {
    justify-content: center;
  }

  .footer__content--links,
  .footer__content--company {
    padding: 2rem;
  }

  .footer__content--company {
    margin-bottom: 2rem;
  }

  .mealSearch {
    padding: 2rem 0;
  }

  .foods__grid {
    grid-template-columns: repeat(1, 335px);
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .header__content {
    margin-top: 10rem;
    padding: 1rem 0.5rem;
  }

  .header__content--heading h2 {
    font-size: 2.25rem;
  }

  .header__content--para p {
    font-size: 0.95rem;
  }

  .header__btn {
    padding: 0.75rem 1.25rem;
  }

  .section {
    padding: 2rem 0;
  }

  .section__heading h3 {
    font-size: 1.55rem;
  }

  .section__heading p {
    font-size: 1rem;
  }
  .container {
    padding: 0;
  }
}
