@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");

:root {
  --globalFont: "Roboto Slab", serif;
  --primaryColor: #002905;
  --primaryWhite: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: var(--globalFont);
  background-image: linear-gradient(
    rgba(248, 255, 187, 0.568),
    rgba(239, 255, 147, 0.356),
    rgb(183, 255, 183)
  );
  width: 100%;
  height: 100vh;
  position: relative;
}

.common {
  position: absolute;
  top: 80%;
}

.common a {
  padding: 0.7rem 1.5rem 0.7rem 1rem;
  background-color: white;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  color: var(--primaryColor);
  font-weight: 500;
  text-decoration: none;
}

.container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__heading {
  margin-bottom: 2rem;
  text-align: center;
}

.container__heading h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--primaryColor);
}

.container__heading img {
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container__btns a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.65rem 2rem;
  background-color: rgb(26, 255, 57);
  color: var(--primaryColor);
  border-radius: 0.5rem;
}

.container__btns--signup {
  margin-right: 0.5rem;
}

.container__btns--signin {
  margin-left: 0.5rem;
}

/* SIGN IN/SIGN UP PAGE */

.container__form--box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.container__form--box input {
  padding: 0.45rem 0.35rem;
  border-radius: 0.35rem;
  border: 1px solid rgba(39, 39, 39, 0.678);
  color: var(--primaryColor);
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  font-weight: 600;
}

.submit__btn {
  background-color: rgb(26, 255, 57);
  color: var(--primaryColor);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.not__signedin {
  text-align: center;
}

.gohome {
  position: absolute;
  top: 10%;
  left: 10%;
}

.gohome a {
  padding: 0.5rem 1rem;
  background-color: rgb(26, 255, 57);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
